@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  font-family: "Cairo", sans-serif;
  transition: all 0.3s;
}
.rotate {
  animation-name: rotate;
  animation-duration: 9s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.translate {
  animation-name: translate;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes translate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
.stripe-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.stripe-button-container button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.stripe-button-container button:hover {
  background-color: #45a049;
}
